.navbar.navbar-fixed-top(style='position: absolute;')
    .navbar-inner
        .container(style='width: auto; padding: 0 20px;')
          ul.nav.navbar-fixed-top
            a.brand(href='/') Popup
            ul.nav.pull-right
              li
                a(href='#signin') Sign In
              li
                a(href='/register', role='button', data-toggle='modal') Sign up
              //
                 Button to trigger modal 
