extends layout

block content
  h1= title
  
  ul.nav.nav-pills
    li#pill-food.active
        a(href='#') Food
      li#pill-market.active
        a(href='#') Market
      li#pill-clothing.active
        a(href='#') Clothing
      li#pill-music.active
        a(href='#') Music
      li#pill-exhibit.active
        a(href='#') Exhibitions
  