extends layout

block content  
  ul.nav.nav-pills
    li#pill-food.active
        a(href='#') Food
      li#pill-market.active
        a(href='#') Market
      li#pill-party.active
        a(href='#') Party
      li#pill-music.active
        a(href='#') Music
      li#pill-exhibit.active
        a(href='#') Exhibit
  div#map_canvas