form.form-horizontal(action='/login', method='POST')
  input#email.input-xlarge.padbot(type='email', name='email', placeholder='Email')
  input#password.input-xlarge.padbot(type='password', name='password', placeholder='Password')
  button.btn.btn-primary.btn-block Login
