extends layout

block content
  form.form-horizontal(action='', method='POST', id="register-form")
      fieldset
          #legend
            legend Create an account!
          .control-group
            //
               Username 
            label.control-label(for='display_name') Display Name
            .controls
              input#display_name.input-xlarge(type='text', name='display_name', placeholder='')
          .control-group
            //
               E-mail 
            label.control-label(for='email') E-mail
            .controls
              input#email.input-xlarge(type='text', name='email', placeholder='')
          .control-group
            //
               Password
            label.control-label(for='password') Password
            .controls
              input#password.input-xlarge(type='password', name='password', placeholder='')
          .control-group
            //
               Description 
            label.control-label(for='description') Description
            .controls
              textarea#description.input-xlarge(name='description', placeholder='')
          //
            .control-group
              label.control-label(for='picture') Profile Picture
              .controls
                input#picture.input-xlarge(type='file', accept="image/*", capture="capture", name='picture')
          .control-group
            //
               Button 
            .controls
              button.btn.btn-success Register
